<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>    
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
    <title>Update Profile</title>
</head>
<body style="background-color:ghostwhite; overflow:hidden;">         
    <div class="container-fluid">
        <div class="row">
            <!--Top Navigation Bar-->
            <div class="container">
                <div class="row" id="titleBar"></div>
            </div>
        </div>     
        <div class="row">
            <!--Side Nav Bar-->            
            <div class="col-sm-3" id="sideBar"></div>                
            <!--Content Page-->
            <div class="col-sm">
                <div class="container">
                    <!-- Update Profile -->
                    <div class="col-sm-4" style="margin-top:8%; margin-left:12%; width:65%; background-color:white; padding:5%">
                        <form id="updation">
                            <div class="mb-3">
                                <h3 style="color:red;">Update Profile</h3><br>
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="form-label"><i class="bi bi-envelope-fill"></i>&nbsp;&nbsp;<b>Email address :</b></label>
                                            <input type="email" id="emailId" th:value="${userAccount.emailId}" aria-describedby="email" class="form-control" readonly>
                                            <div id="email" class="form-text">Email ID can't be edited</div>
                                        </div> 
                                        <div class="col-sm">
                                            <label class="form-label"><i class="bi bi-person-circle"></i>&nbsp;&nbsp;<b>Edit UserName :</b></label>                                
                                            <input type="text" id="userName" th:value="${userAccount.userName}" placeholder="John Doe" class="form-control" autocomplete="off" required>
                                        </div> 
                                    </div>                                
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">                                    
                                    <div class="col-sm">
                                        <label class="form-label"><i class="bi bi-shield-lock-fill"></i>&nbsp;&nbsp;<b>Current Password :</b></label>
                                        <div class="input-group">
                                            <input type="password" id="password" th:value="${session.sessionPassword}" aria-describedby="password" placeholder="******" class="form-control" readonly>
                                            <span class="input-group-text btn btn-dark" id="toggleType"><i class="bi bi-eye-fill"></i></span>                                            
                                        </div>
                                        <div id="password" class="form-text">Password is read only</div>
                                    </div>
                                    <div class="col-sm">
                                        <label class="form-label"><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;<b>Update Mobile Number :</b></label>
                                        <input type="text" id="phoneNo" th:value="${userAccount.mobileNumber}" aria-describedby="phoneNote" placeholder="91XXXXXXXXXX" class="form-control" maxlength="12" autocomplete="off" required>
                                        <div id="phoneNote" class="form-text">Mobile number with country code</div>                                
                                    </div>
                                </div>                            
                            </div>
                            <div class="mb-3">
                                <label class="form-label"><i class="bi bi-geo-alt-fill"></i>&nbsp;&nbsp;<b>Enter PostalCode :</b></label>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="postalCode" th:value="${userAccount.pinCode}" maxlength="6" placeholder="eg:625012" autocomplete="off" required>                                    
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" onclick="fetchGeoLocation()" style="width:100%"><b>Fetch Location</b></button>
                                    </div>
                                </div>
                            </div><br>
                            <div class="mb-3" id="geoLocation" style="display: none;">
                                <div class="row">
                                    <div class="col-sm">
                                        <label class="form-label"><b>Select Locality : </b></label>
                                        <select class="form-select" id="places"></select>
                                    </div>
                                    <div class="col-sm">
                                        <label class="form-label"><b>Select District : </b></label>
                                        <select class="form-select" id="districts"></select>
                                    </div>
                                    <div class="col-sm">
                                        <label class="form-label"><b>Select State : </b></label>
                                        <select class="form-select" id="state"></select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <center><button type="button" onclick="submitUpdateForm()" class="btn" style="width:100%; background-color:#306ae6; color:white"><strong><i class="bi bi-pencil-fill"></i>&nbsp;&nbsp;Update</strong></button></center><br>
                        </form>
                    </div>
                    <div class="col-sm-4"></div>                                
                </div>                
            </div>            
        </div>
    </div>
</body>
</html>
<script>    
    //Load Title Bar
    $(function(){
        $("#titleBar").load("titleBar");
    });        
    //Load Side Bar
    $(function(){
        $("#sideBar").load("sideBar");
    });       

    //Submit update form
    const submitUpdateForm=()=>{
        var formElement=document.getElementById("updation");
        //Password field alone is not necessary
        let emailId=formElement.elements['emailId'].value;
        let userName=formElement.elements['userName'].value;
        let phoneNo=formElement.elements['phoneNo'].value;
        let postalCode=formElement.elements['postalCode'].value;
        let locality=formElement.elements['places'].value;
        let district=formElement.elements['districts'].value;
        let state=formElement.elements['state'].value;
        if(userName=='' || phoneNo=='' || postalCode=='' || locality=='' || district=='' || state==''){
            swal({
                title: "Oops!!",
                text: "Incomplete Form",
                icon: "error",                            
                button : "Okay"
            });
            return ;
        }
        //Once validation is done initiate AJAX call
        $.ajax({
            url :'/car-rental-system/app/update-profile',
            data : JSON.stringify({emailId:emailId, userName:userName, phoneNo:phoneNo, postalCode:postalCode, locality:locality, district:district, state:state}),
            contentType : 'application/json',
            type : 'POST',
            dataType : 'json',
            success:function(response){
                if(response.emailId==emailId){
                    $("#userName").val(response.userName);
                    $("#phoneNo").val(response.mobileNumber);
                    $("#postalCode").val(response.pinCode);
                    $("#geolocation #places").val(response.city);
                    $("#geolocation #districts").val(response.district);
                    $("#geolocation #state").val(response.state);
                    swal({
                        title: "Success",
                        text: "Profile updation done",
                        icon: "success",
                        button: true
                    });                                
                }                
            },
            error:function(error){
                //Error will be triggered when response is not success..
                console.log(error);
                swal({
                    title: "Oops!!",
                    text: "Somthing Went Wrong",
                    icon: "error",                            
                    button : true
                });
            }         
        })
    }
    
    //Toggle password type
    const togglePassword = document.querySelector("#toggleType");
    const password = document.querySelector("#password");
    togglePassword.addEventListener("click", function () {  
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // Toggle the eye icon
        const eyeIcon = this.querySelector("i");
        if (type === "password") {
            eyeIcon.classList.remove("bi-eye-slash-fill");
            eyeIcon.classList.add("bi-eye-fill");
        } 
        else {
            eyeIcon.classList.remove("bi-eye-fill");
            eyeIcon.classList.add("bi-eye-slash-fill");
        }
    });

    //Fetch Geo Location data
    const fetchGeoLocation=()=>{         
        let postalCode=document.getElementById("postalCode").value;
        if(postalCode.length!=0){
            console.log("Fetching GeoLocation started..");        
            $.ajax({                
                url:'/car-rental-system/app/fetch-geo-location',
                data: JSON.stringify({postalCode:postalCode}),
                contentType:'application/json',
                type:'POST',
                dataType:'json',                                            
                success:function(response){                                            
                    if(Object.keys(response).length!=0){
                        //Clearing all three drop downs before appending new values  
                        var places=document.getElementById("places");
                        var districts=document.getElementById("districts");
                        var states=document.getElementById("state");
                        places.innerHTML='';                       
                        districts.innerHTML='';
                        state.innerHTML='';        
                        for(var key in response){
                            let list=response[key];
                            for(var index in list){
                                var optionElement = document.createElement('option');
                                optionElement.value = list[index];
                                optionElement.textContent = list[index];
                                switch(key){
                                    case "places" : places.appendChild(optionElement); break;
                                    case "districts" : districts.appendChild(optionElement); break;
                                    case "state" : states.appendChild(optionElement); break;
                                }                            
                            }                        
                        }                       
                        document.getElementById("geoLocation").style.display="block";                 
                    }
                    else{
                        swal({
                            title: "Oops!!",
                            text: "Invalid postal code",
                            icon: "error",                            
                            button : true
                        });
                    }                        
                },                
                error:function(error){
                //Error will be triggered when response is not success..
                    console.log(error);
                    swal({
                        title: "Oops!!",
                        text: "Somthing Went Wrong",
                        icon: "error",                            
                        button : true
                    });
                }
            })
        }            
        else{
            swal({
                title: "Oops!!",
                text: "Enter PostalCode",
                icon: "error",                            
                button : "Okay"
            });
        }
    }     
</script>
